body {
    background-color: #ddffdd;
}

.site-footer{

    text-align: center;
    margin-top: 35%;
}

a:active{
    color: white;
}

h1.page-title{

    padding-top: 40px;
}

div.page-content{
    padding-top: 20px;
}

a.page-title-about:before{
    content: url("./icons/id-card-solid.svg");
}

a.page-title-contacts:before{
    content: url("./icons/phone-square-alt-solid.svg");
}

