.nav {
     background-color: var(--header-background-color, #ffb346);
     text-align: right;
     padding-top: 0.5em;
     height: 66px;
 }

.nav ul li {
    display: inline-block;
    margin: 0 0.7em;
}

.nav a {
    display: block;
    padding: 0.5em 1em;
    background: #EEE;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

.nav a:hover {
    background: var(--hover-background-color, #adb8b2);
    color: var(--hover-color, #FFF);
}

.nav .active{
    background: #7dd47d;
    cursor: default;
    pointer-events: none;
}