<nav class="nav location-{{include.location}}">
    <ul>
        {% assign pages = (site.pages | sort: 'order') %}

        {% for single-page in pages %}
            {% if single-page.title %}
                <li>
                    <a class="nav-links page-title-{{ single-page.title | slugify }}
                                        {%if single-page.url == page.url %}active{% endif %}"
                       href="{{site.baseurl}}{{single-page.url}}">{{single-page.title}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>