.site-header nav {
     background-color: var(--header-background-color, #ffb346);
     text-align: right;
     padding-top: 0.5em;
     height: 66px;
 }

.site-header nav ul li {
    display: inline-block;
    margin: 0 0.7em;
}

.site-header nav a {
    display: block;
    padding: 0.5em 1em;
    background: #EEE;
    color: #333;
    text-decoration: none;
}

.site-header nav a:hover {
    background: var(--hover-background-color, #adb8b2);
    color: var(--hover-color, #FFF);
}