.nav {
     background-color: var(--header-background-color, #ffb346);
     text-align: right;
     padding-top: 0.5em;
     height: 66px;

  ul {
    @include bp(mobile){
      display: none;
    }
  }

  ul li{
    display: inline-block;
    margin: 0 0.7em;

    @include bp(mobile){
      font-size: 15px;
    }
  }

  a{
    display: block;
    padding: 0.5em 1em;
    background: #EEE;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s linear;

    &:hover{
      background: var(--hover-background-color, #adb8b2);
      color: var(--hover-color, #FFF);
    }
  }

  .active{
    //background: var(--hover-background-color, #adb8b2);
    background: red;
    cursor: default;
    pointer-events: none;
  }
 }

.input-checkbox{
  position: absolute;
  pointer-events: none;
  display: none;

  &-label{
    @include bp(desktop){
      display: none;
    }
  }

  &:checked + .site-header .nav ul{
     display: block;
  }

  &:checked ~ .site-footer .nav ul{
    display: block;
  }
}