<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Css Advanced</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="site-header">
    <nav>
        <ul>
        {% for page in site.pages %}
            {% if page.title %}
            <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
</header>

<div class="site">
    {{content}}
</div>

<footer class="site-footer">All rights reserved 2019 &copy;</footer>
</body>
</html>